@import url("vars.css");
@import url("common.css");
@import url("header.css");

/* 2 ball */
.link {
  font-size: 100px;
}

/*  1 bal */

a {
  font-size: 40px;
}

/* 1     2  = 3 bal */
header {
  color: #fff;
}
header .link {
  font-size: 200px;
}
